@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

.remove_outline {
  @apply outline-none focus:outline-none touch-none;
}

// use to correct apparing of cursor on preloader component
html[data-is_loading="false"] .cursor-container {
  @apply relative z-auto;
}
html:not([data-is_loading="false"]) .cursor-container {
  @apply relative z-cursor;
}

main,
html,
body {
  @apply font-sans;
}
* {
  box-sizing: border-box;
}

.will-change-transform-animation {
  @apply will-change-transform;
}

.is-loaded {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button, li, em {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Plus spécifique pour éviter les transitions non désirées */
    &:lang(fr), &:lang(en) {
      animation: textFadeInOut 2s ease forwards;
    }
  }
  
  @keyframes textFadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.overflow-y-animate {
  overflow-y: clip;
  overflow-x: visible;
}
.overflow-y-animate > * {
  will-change: transform;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
}

.whitespace-nowrap-important {
  white-space: nowrap !important;
}

.whitespace-inherit-important {
  white-space: inherit !important;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
body {
  overflow: hidden;
}

.lenis {
  -ms-overflow-style: none;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none !important;
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.scrollbar{
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  padding: 6px 0;
  .inner {
    height: 100%;
    position: relative;
    background-color: oklch(var(--gray-900));
    backdrop-filter: blur(8px);
  }
  .thumb {
    min-height: 120px;
    width: 8.6px;
    background-color: var(--color-black-900);
    position: absolute;
    right: 8px;
    border-radius: 8px;
    border: 1px solid var(--color-black-200);
    cursor: grab;
  }
}


/* Colors */
@layer base {
  html {
    --primary-base: 281.25;
    --primary-100: 69.06% 0.15 var(--primary-base);
    --primary-200: 62.88% 0.165 var(--primary-base);
    --primary-300: 60.61% 0.19 var(--primary-base);
    --primary-400: 56.82% 0.21 var(--primary-base);
    --primary-500: 53.26% 0.21 var(--primary-base);
    --primary-600: 46.41% 0.207 var(--primary-base);
    --primary-700: 42.29% 0.202 var(--primary-base);
    --primary-800: 38.47% 0.209 var(--primary-base);
    --primary-900: 35.24% 0.185 var(--primary-base);

    --secondary-base: 234.51;
    --secondary-100: 69.06% 0.15 var(--secondary-base);
    --secondary-200: 62.88% 0.165 var(--secondary-base);
    --secondary-300: 60.61% 0.19 var(--secondary-base);
    --secondary-400: 56.82% 0.21 var(--secondary-base);
    --secondary-500: 53.26% 0.21 var(--secondary-base);
    --secondary-600: 46.41% 0.207 var(--secondary-base);
    --secondary-700: 42.29% 0.202 var(--secondary-base);
    --secondary-800: 38.47% 0.209 var(--secondary-base);
    --secondary-900: 35.24% 0.185 var(--secondary-base);

    --white-100: 98.18% 0.004 var(--primary-base);
    --white-200: 96.47% 0.004 var(--primary-base);
    --white-300: 94.12% 0.004 var(--primary-base);
    --white-400: 90.59% 0.004 var(--primary-base);
    --white-500: 87.06% 0.004 var(--primary-base);
    --white-600: 80.78% 0.004 var(--primary-base);
    --white-700: 74.12% 0.004 var(--primary-base);
    --white-800: 67.06% 0.004 var(--primary-base);
    --white-900: 60.39% 0.004 var(--primary-base);

    --gray-100: 85.98% 0.0321 var(--primary-base);
    --gray-200: 81.18% 0.0321 var(--primary-base);
    --gray-300: 75.69% 0.0321 var(--primary-base);
    --gray-400: 69.8% 0.0321 var(--primary-base);
    --gray-500: 63.92% 0.0321 var(--primary-base);
    --gray-600: 55.69% 0.0321 var(--primary-base);
    --gray-700: 48.24% 0.0321 var(--primary-base);
    --gray-800: 40.39% 0.0321 var(--primary-base);
    --gray-900: 33.33% 0.0321 var(--primary-base);

    --black-100: 17.3% 0.01 var(--primary-base);
    --black-200: 18.6% 0.019 var(--primary-base);
    --black-300: 20.39% 0.019 var(--primary-base);
    --black-400: 22.35% 0.019 var(--primary-base);
    --black-500: 24.31% 0.019 var(--primary-base);
    --black-600: 26.27% 0.019 var(--primary-base);
    --black-700: 28.24% 0.019 var(--primary-base);
    --black-800: 30.2% 0.019 var(--primary-base);
    --black-900: 32.16% 0.019 var(--primary-base);

    --red-base: 37.127;

    --red-100: 85.88% 0.102 var(--red-base);
    --red-200: 76.95% 0.128 var(--red-base);
    --red-300: 72.83% 0.141 var(--red-base);
    --red-400: 70.48% 0.168 var(--red-base);
    --red-500: 70.39% 0.191 var(--red-base);
    --red-600: 66.36% 0.192 var(--red-base);
    --red-700: 60.48% 0.173 var(--red-base);
    --red-800: 53.13% 0.168 var(--red-base);
    --red-900: 47.83% 0.153 var(--red-base);

    @mixin color-generate($name) {
      @each $degree in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
        --color-#{$name}-#{$degree}: oklch(var(--#{$name}-#{$degree}));
      }
    }

    @include color-generate("primary");
    @include color-generate("secondary");
    @include color-generate("white");
    @include color-generate("gray");
    @include color-generate("black");
    @include color-generate("red");
  }
  /* create function scss to generate variable of color based on color created, with oklch format */
}
.body-background {
  @apply bg-black-100;
}

@layer base {
  body {
    @apply font-sans body-background;
  }
}
